<template>
  <div class="timer">
    <div v-if="timer >= 0 && color==='red'" :class="['countdown', color]">
      {{timer | digitalClock}}
    </div>
    <div v-if="timer >= 0 && color==='green'" :class="['countdown', color]">
      {{timer | digitalClock}}
    </div>
    <!-- <div v-if="timer <= 5 && color === 'green'" class="ad">
      <img src="http://www.hania.es/wp-content/uploads/2015/04/korwin.jpg" alt="">
    </div>
    <div v-if="timer <= 5 && color==='green'" :class="['prompt', color]">
      {{timer | digitalClock}}
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'Countdown',
  props: {
    timer: Number,
    color: String
  },
  filters:{
    digitalClock(time){
      if(time<10){
        time = '0' + time
      }
      return time
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.timer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

@media (max-aspect-ratio: 4/3) {
  .countdown{
    font-size: 80vw !important;
  }
}
.black{
  color: black;
}
.green {
  color: rgba(0,255,0,1);
  /* filter: drop-shadow(0 0 20px rgba(0,255,0,1)); */
}
.red{
  color: rgba(255,255,255,1);
  /* filter: drop-shadow(0 0 50px rgba(255,0,0,1)); */
}
.countdown{
  position: relative;
  top: -17vh;
  font-size: 140vh;
  vertical-align: center;
  /* line-height: 2em; */
  letter-spacing: 5vw;
}
.prompt{
  font-size: 30vh;
  height: 30vh;
}
.ad{
  font-size: 30vh;
  height: 100vh;
  /* width: 100vw; */
}
.ad img{
  height: 100%;
  width: auto;
}
</style>
