<template>
  <div class="help">
    <h1>Pomoc</h1>
    <p>Aby licznik działał należy zmierzyć czas trwania zielonego i czerwonego światła.</p>
    <p>Kiedy światło zmieni się na <strong style="color: green">zielone</strong> wciskamy przycisk ↑</p>
    <p>Kiedy światło zmieni się na <strong style="color: red">czerwone</strong> wciskamy przycisk ↓</p>
  </div>
</template>

<script>
export default {
  name: 'Countdown',
  props: {
    timer: Number
  },
  filters:{
    digitalClock(time){
      if(time<10){
        time = '0' + time
      }
      return time
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
p{
  font-family: monospace;
}
@media (max-aspect-ratio: 4/3) {
  .help{
    width: 80vw !important;
  }
}
.help{
  position: absolute;
  background: white;
  color: black;
  width: 100vmin;
  height: 100vmin;
  font-size: 150%;
}
</style>
