<template>
  <div id="app">
    <Countdown :timer="currentDisplayTime" :color="colorDisplay"></Countdown>
    <Help v-if="displayHelp"></Help>
    <!-- {{hold}}
    {{currentColor}}
    <div style="color:green">
      green
      {{greenDuration}}
      <button @click="greenDuration++">+</button>
      <button @click="greenDuration--">-</button>
    </div>
    <div style="color:red">
      red
      {{redDuration}}
      <button @click="redDuration++">+</button>
      <button @click="redDuration--">-</button>
    </div> -->
  </div>
</template>

<script>
import Countdown from './components/Countdown.vue'
import Help from './components/Help.vue'

export default {
  name: 'app',
  components: {
    Help,
    Countdown
  },
  mounted(){
    document.addEventListener("keydown",event => {
      this.displayHelp = false
      switch (event.key) {
        case "?":
          console.log("help");
          this.displayHelp=true
          break;
        case "l":
          console.log("lock");
          break;
        case "b":
          this.blackout = !this.blackout
          break;
        case "ArrowUp":
          this.pushLightChange('green')
          break;
        case "ArrowDown":
          this.pushLightChange('red')
          break;
        case "ArrowLeft":
          this.shiftStartTime(100)
          break;
        case "ArrowRight":
          this.shiftStartTime(-100)
          break;
        case "g":
          this.holdTimer(true)
          break;
        case "h":
          this.skipTimer()
          break;
        default:
      }
    })
    document.addEventListener("keyup",event => {
      this.displayHelp = false
      switch (event.key) {
        case "g":
          this.holdTimer(false)
          break;
        default:
      }
    })
  },
  data(){
    return {
      lightChangeLog: [],
      displayHelp: false,
      startTime: undefined,
      greenDuration: 0,
      redDuration: 0,
      interval: undefined,
      date: undefined,
      blackout: false,
      hold: {
        isHold: false,
        isUpdated: true
      },
      skip: undefined,
      currentColor: undefined
    }
  },
  methods:{
    holdTimer(bool){
      if (bool) {
        this.hold.isUpdated = false
      }
      this.hold.isHold = bool
    },
    skipTimer(){
      let diff = this.currentDisplayTime - this[this.currentColor + 'Duration']
      console.log(diff);
      diff = Math.round(diff)
      this[this.currentColor + 'Duration'] = this[this.currentColor + 'Duration'] + diff
      this.startTime = new Date(this.startTime.getTime() - diff*1000)
      this.switchColor()
    },
    updateLightDuration(){
      // if (this.lightChangeLog.length === 0) return 0
      for (let index = 0; index<this.lightChangeLog.length; index++) {
        try {
          let diff = this.lightChangeLog[index+1].time - this.lightChangeLog[index].time
          this[this.lightChangeLog[index].color + 'Duration'] = Math.round(diff/1000)
        } catch (e) {
        }
      }
    },
    pushLightChange(color){
      if (this.lightChangeLog.length !== 3 && this.lightChangeLog.length === 0) {
        this.$set(this.lightChangeLog, this.lightChangeLog.length, new LightChange(color))
      }
      else if (this.lightChangeLog[this.lightChangeLog.length-1].color !== color ) {
        this.$set(this.lightChangeLog, this.lightChangeLog.length, new LightChange(color))
        this.updateLightDuration()
      }
      if (this.lightChangeLog.length === 3) {
        this.currentColor = this.lightChangeLog[this.lightChangeLog.length-1].color
        this.startTime = this.lightChangeLog[this.lightChangeLog.length-1].time
        this.interval = setInterval(()=>{
          this.date = new Date()
        },100)
      }
    },
    shiftStartTime(amount){
      this.startTime = new Date(this.startTime.getTime() + amount)
    },
    switchColor(){
      this.currentColor = this.currentColor === 'green' ? 'red' : 'green'
    }
  },
  computed:{
    secondsSinceStart(){
      return Math.round((this.date - this.startTime)/1000)
    },
    colorDisplay(){
      return this.currentColor === 'green' && this.blackout ? 'black' : this.currentColor
    },
    currentDisplayTime(){
      let time = this[this.currentColor + 'Duration'] - this.secondsSinceStart
      if (!this.hold.isHold && time <= 0) {
        if (!this.hold.isUpdated && time <= 0) {
          this[this.currentColor + 'Duration'] -= time - 1
          this.hold.isUpdated = true
        }
        this.startTime = new Date(this.startTime.getTime() + this[this.currentColor + 'Duration']*1000)
        this.switchColor()
        time = this[this.currentColor + 'Duration'] - this.secondsSinceStart
      }
      if (this.hold.isHold && time <= 0) {
        return 0
      }
      return time
    }
  }
}

class LightChange {
  constructor(color, time=new Date()) {
    console.log(color);
    this.color = color
    this.time = time
  }
}
</script>

<style>
@font-face {
  font-family: 'Digital-7 Mono';
  src: url('/digital-77.ttf');
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  cursor: none;
}
#app {
  font-family: 'Digital-7 Mono';
  background: black;
  color:white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* margin-top: 60px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
</style>
